[submodule "tools/ROM_resigner"]
	path = tools/ROM_resigner
	url = https://github.com/rahulkhatri137/ROM_resigner.git
[submodule "tools/oppo_ozip_decrypt"]
	path = tools/oppo_ozip_decrypt
	url = https://github.com/rahulkhatri137/oppo_ozip_decrypt.git
[submodule "build/vendor/google"]
	path = build/vendor/google
	url = https://github.com/rahulkhatri137/vendor_google_apps.git
[submodule "build/vendor/vndk"]
	path = build/vendor/vndk
	url = https://github.com/rahulkhatri137/vendor_vndk.git
